<form [formGroup]="stockPickerForm">
  <mat-form-field>
    <input
      matInput
      placeholder="Symbol e.g AAPL"
      formControlName="symbol"
      value=""
    />
    <mat-error
      ><span
        *ngIf="
          !stockPickerForm.get('symbol').valid &&
          stockPickerForm.get('symbol').touched
        "
        >Please enter a symbol</span
      >
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Favorite time period</mat-label>
    <mat-select formControlName="period">
      <mat-option
        *ngFor="let timePeriod of timePeriods"
        [value]="timePeriod.value"
      >
        {{ timePeriod.viewValue }}
      </mat-option>
    </mat-select>
    <mat-error
    ><span
      *ngIf="
          !stockPickerForm.get('period').valid &&
          stockPickerForm.get('period').touched
        "
    >Please select a time period</span
    >
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>From Date</mat-label>
    <input formControlName="fromDate" matInput [matDatepicker]="fromDatepicker" [max]="currentDate" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="fromDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #fromDatepicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>To Date</mat-label>
    <input formControlName="toDate" matInput [matDatepicker]="toDatepicker" [max]="currentDate" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #toDatepicker></mat-datepicker>
  </mat-form-field>

  <button (click)="fetchQuote()" mat-raised-button>Go</button>
</form>
<br/>
<coding-challenge-chart [data$]="quotes$"></coding-challenge-chart>
