<google-chart
  *ngIf="chartData?.length > 0"
  [title]="chart.title"
  [type]="chart.type"
  [data]="chartData"
  [columnNames]="chart.columnNames"
  [options]="chart.options"
>
</google-chart>

<div *ngIf="chartData?.length === 0" id="google-visualization-errors-all-1" style="display: block; padding-top: 2px;">
  <div id="google-visualization-errors-0" style="font: 0.8em arial, sans-serif; margin-bottom: 5px;">
    <span style="background-color: rgb(192, 0, 0); color: white; padding: 2px;">
      There is no Stock Price available for selected time range
    </span>
  </div>
</div>
